.container{
    height: 100vh;
    width:100% ;
    margin: 0 !important;
    display: flex;
    justify-content: left;
    align-items: left;
}
.body{
    overflow-x: hidden !important;
}
.toolbar-spacer {
    flex: 1 1 auto;
  }
  
  a.title {
    color: white;
  }